.page--intro {
    /* display: none; */

    .intro-container {
        grid-column: body;
        grid-row: body;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        /* color: blueviolet; */

        .intro-heading {
            font-size: clamp(2.5rem, 14vw, 14rem);
            line-height: 1.5;
            font-weight: 700;
            /* font-family: 'Times New Roman', Times, serif; */

            color: transparent;
            -webkit-text-stroke: clamp(1px, 0.25vw, 5px) var(--fg-color);
            background: none;
            /* text-shadow: 2px 2px 4px #000; */
            /* filter: drop-shadow(2px 2px 4px #000); */

            /* background: linear-gradient(90deg, var(--fg-color) 45%, var(--c-3) 50%, var(--fg-color) 55% 100%); */
            background: radial-gradient(circle at center, var(--c-3), var(--fg-color) 10% 100%);
            background-size: 250%;
            background-position: right;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &.with-animation {
                animation: moveGradient 10s linear infinite;
            }

            > span {
                color: var(--c-2);
            }
        }
    }

    .mouse-container {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 4vh;
        inline-size: 100%;
        padding: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;

        .mouse {
            opacity: 0;
            translate: 0 -100px;
            pointer-events: auto;
            padding: 5px;

            .arrow-down {
                inline-size: 10px;
                block-size: 10px;
                border-radius: 2px;
                border-bottom: 2px solid var(--accent-color);
                border-right: 2px solid var(--accent-color);
                rotate: 45deg;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .page--intro {
        display: none;
    }
}

@keyframes moveGradient {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}