.page--technical {
    /* display: none; */

    .techIntro-container {
        grid-column: body;
        grid-row: body;

        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: auto 1fr;

        padding-block: max(7vh, 40px);

        .techIntro-heading-container {
            grid-column: body;

            display: grid;
            grid-template-areas: heading;
            justify-content: flex-start;
            padding-block-end: 2rem;

            & h2,
            .h2 {
                grid-area: heading;
                display: inline-block;
                font-size: clamp(2.2rem, 8vw, 7rem);
                line-height: 1.2;
                font-weight: 600;
                color: var(--title-color);
            }

            /* .h2 {
                .char {
                    &:first-child {
                        color: hotpink;
                    }
                }
            } */

            h2 {
                color: transparent;
                border-radius: 4px;

                &:focus {
                    outline: 3px solid var(--outline-color);
                    outline-offset: 10px;
                }
            }
        }

        .techIntro-list {
            grid-column: body;
            list-style: none;

            @media (min-width: 768px) {
                grid-column: right;
                max-width: 500px;

                padding-inline-start: 0;
            }

            & li {
                margin-bottom: 1vh;
                font-weight: 400;

                & p {
                    &::first-letter {
                        font-weight: 600;
                        color: var(--link-color);
                        /* -webkit-initial-letter: 2;
                        initial-letter: 2;
                        margin-right: .5em; */
                    }
                }
            }
        }
    }

    .techList-container {
        grid-column: body;
        grid-row: body;

        display: grid;
        grid-template-columns:
            [left-start right-start]
            1fr
            [left-end right-end]
        ;
        grid-template-rows:
            [top-start]
            1fr
            [top-end bottom-start]
            1fr
            [bottom-end]
        ;

        @media (min-width: 768px) {
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }

        .techList-group {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-inline: 1rem;

            &.languages-group,
            &.databases-group {
                grid-column: left;
                grid-row: top;
            }

            &.frameworks-group,
            &.others-group {
                grid-column: right;
                grid-row: bottom;
            }

            .techList-heading-container {
                text-align: center;

                display: grid;
                grid-template-areas: subheading;

                & h3,
                .h3 {
                    grid-area: subheading;
                    font-size: clamp(2rem, 5vw, 5rem);
                    border-radius: 4px;
                    font-weight: 600;
                    color: var(--title-color);
                }

                & h3 {
                    color: transparent;
                    border-radius: 4px;

                    &:focus {
                        outline: 3px solid var(--outline-color);
                        outline-offset: 10px;
                    }
                }
            }

            & ol {
                list-style: none;
                padding: 0;
                max-width: 480px;
                pointer-events: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 5px;

                & li {
                    cursor: none;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--light-border);
                    padding: 4px 8px;
                    border-radius: 20px;
                    background-color: var(--bg-color);
                    transition: scale .3s ease;

                    @media (prefers-reduced-motion: reduce) {
                        transition: none;
                    }

                    &:hover {
                        position: relative;
                        z-index: 1;
                        scale: 1.4;
                    }
                }
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .page--technical {
        display: block;

        .techIntro-container {
            padding-block: clamp(3rem, 8vw, 8rem);
            border-bottom: 2px solid var(--border-color);

            grid-template-columns:
                [edge-start]
                clamp(1.5rem, 6vw, 6rem)
                [body-start left-start]
                1fr
                [left-end right-start]
                1fr
                [body-end right-end]
                clamp(1.5rem, 6vw, 6rem)
                [edge-end]
            ;
        }

        .techList-container {
            padding-block: clamp(1.5rem, 6vw, 6rem);

            grid-template-rows:
                [top-start]
                1fr
                [top-end second-start]
                1fr
                [second-end third-start]
                1fr
                [third-end bottom-start]
                1fr
                [bottom-end]
            ;

            .techList-group {
                margin-bottom: 5vh;
                justify-content: flex-start;

                &.languages-group {
                    grid-row: top;
                }
                &.frameworks-group {
                    grid-row: second;
                }
                &.databases-group {
                    grid-row: third;
                }
                &.others-group {
                    grid-row: bottom;
                }
            }

            @media (min-width: 768px) {
                grid-template-columns:
                    [edge-start]
                    clamp(1.5rem, 6vw, 6rem)
                    [body-start left-start]
                    1fr
                    [left-end right-start]
                    1fr
                    [body-end right-end]
                    clamp(1.5rem, 6vw, 6rem)
                    [edge-end]
                ;
                grid-template-rows:
                    [top-start]
                    1fr
                    [top-end bottom-start]
                    1fr
                    [bottom-end]
                ;

                .techList-group {
                    padding-block: clamp(1rem, 4vw, 4rem);

                    &.frameworks-group,
                    &.languages-group {
                        grid-row: top;
                    }
                    &.databases-group,
                    &.others-group {
                        grid-row: bottom;
                    }
                }
            }

        }
    }
}