.section--fixed {
    z-index: 5;
    justify-content: center;
    align-items: center;


    .animator-container {
        position: absolute;
        inset: 0;
        /* translate: 0 -25vh; */

        display: flex;
        justify-content: center;
        align-items: center;
        --tx: 0;
        --ty: 0;
        translate: var(--tx) var(--ty);

        .animator {
            --width: var(--min-size);
            --height: var(--min-size);
            position: absolute;
            width: var(--width);
            height: var(--height);
            background-color: var(--accent-color);
            border-radius: var(--min-size);

            /* backdrop-filter: invert(100%);
            -webkit-backdrop-filter: invert(100%); */

            will-change: width, height;
        }
    }
}


.logo {
    --size: 90px;
    --font-size: .85rem;
    position: fixed;
    z-index: 5;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* overflow: hidden; */

    pointer-events: none;
    translate: 0 -60px;

    @media (min-width: 992px) {
        --size: 110px;
        --font-size: .9rem;
    }

    .logo-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: auto;

        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 0;
            inline-size: calc(var(--size) + 4px);
            block-size: calc(var(--size) + 4px);
            background-color: var(--bg-color);
            border-radius: 50%;

            transition: background-color .2s ease;

            box-shadow: rgba(50, 50, 93, 0.1) 0px 0px 12px -2px, rgba(0, 0, 0, 0.1) 0px 0px 7px -3px;
        }

        /* &:hover {
            &::before {
                background-color: var(--fg-color);
            }
            > div {
                color: var(--bg-color);
            }
        } */

        > div {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            text-transform: uppercase;
            display: inline-block;
            font-size: var(--font-size);
            font-weight: 600;
            height: var(--size);
            transform-origin: center;
            opacity: .6;

            &:nth-child(1) {
                rotate: -80deg;
            }
            &:nth-child(2) {
                rotate: -50deg;
            }
            &:nth-child(3) {
                rotate: -20deg;
            }
            &:nth-child(4) {
                rotate: 20deg;
            }
            &:nth-child(5) {
                rotate: 50deg;
            }
            &:nth-child(6) {
                rotate: 80deg;
            }
            &:nth-child(7) {
                rotate: 120deg;
            }
            &:nth-child(8) {
                rotate: 150deg;
            }
            &:nth-child(9) {
                rotate: 180deg;
            }
            &:nth-child(10) {
                rotate: 210deg;
            }
            &:nth-child(11) {
                rotate: 240deg;
            }
        }
    }
}

.section--loading {
    z-index: 4;
    background-image: var(--bg-image);
}

.section--intro {
    display: grid;
    grid-template-columns: var(--x) minmax(0, 1fr) var(--x);
    grid-template-rows: 10vh minmax(0, 1fr) 10vh;

    .hello {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: flex;
        justify-content: center;
        align-items: center;

        .hello-message {
            font-size: clamp(2.5rem, 14vw, 14rem);
            line-height: 1.5;
            text-align: center;

            /* background-image: url(/tunlinphyo.jpeg);
            background-size: cover;
            background-position: center;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent; */

            .char {
                transform-origin: bottom left;
            }

            > span {
                color: var(--link-color);
                animation: showHide 1s steps(2, jump-none) infinite;
            }
        }
    }

    .person {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;

        .person-name {
            font-size: clamp(2rem, 9vw, 7rem);
            line-height: 1.5;

            .char {
                transform-origin: bottom left;
                opacity: 0;
                scale: 0.5 0;
            }
        }

        .person-about {
            max-width: 500px;

            .char {
                transform-origin: bottom left;
                opacity: 0;
                scale: 0.5 0;
            }
        }
    }
}

.section--technical {
    display: grid;
    grid-template-columns: var(--x) minmax(0, 0.25fr) minmax(0, 1fr) var(--x);
    grid-template-rows: 10vh auto minmax(0, 1fr) 10vh;

    @media (min-width: 768px) {
        grid-template-columns: var(--x) minmax(0, 1fr) minmax(0, 1fr) var(--x);
    }

    .intro-title {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        padding-block-end: 2rem;

        font-size: clamp(2.2rem, 8vw, 7rem);
        line-height: 1.2;
        /* text-transform: uppercase; */
    }
    .intro-description {
        grid-column: 3 / 4;
        grid-row: 3 / 4;

        > p {
            max-width: 500px;
        }
    }

    .technical-cards-container {
        grid-column: 2 / 4;
        grid-row: 2 / 4;

        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    }

    .technical-cards {

        display: grid;
        grid-template-areas: "card";
        justify-content: center;
        align-items: stretch;

        /* border: 1px dotted white; */

        &.card--start {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        &.card--end {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        @media (orientation: landscape) {
            justify-content: stretch;
            align-items: center;

            &.card--start {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }

            &.card--end {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }
        }

        .technical-card {
            grid-area: card;
            inline-size: 100%;
            padding: 2.5rem;

            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @media (orientation: landscape) {
                padding-block-end: 3.5rem;
            }

            .technical-title {
                font-size: clamp(2rem, 5vw, 5rem);
            }

            .technical-desc {
                max-width: 400px;
                pointer-events: auto;

                > span {
                    cursor: none;
                }
            }
        }
    }
}

.section--projects {
    z-index: 2;

    display: grid;
    grid-template-columns: var(--x) 0 minmax(0, 1fr) var(--x);
    grid-template-rows: 10vh minmax(0, 1fr) 5vh;

    @media (min-width:500px) {
        grid-template-rows: 10vh minmax(0, 1fr) 10vh;
    }

    @media (min-width: 768px) {
        grid-template-columns: var(--x) minmax(0, 1fr) minmax(500px, 1fr) var(--x);
    }
    .carousel-container {
        grid-column: 1 / 5;
        grid-row: 1 / 2;

        overflow: hidden;

        .carousel {
            block-size: 100%;

            margin: 0;
            padding: 0;
            list-style: none;

            position: relative;

            > li {
                block-size: 100%;

                position: absolute;
                font-weight: 600;
                font-size: clamp(1.5rem, 4vw, 3rem);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                padding-inline: 3vw;
                opacity: 0.2;
                /* color: transparent;
                -webkit-text-stroke: 1px var(--fg-color); */

                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }

    .projects-intro {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        /* background-color: #f00; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;

        .projects-title {
            font-size: clamp(2.2rem, 8vw, 7rem);
            line-height: 1.2;
            /* text-transform: uppercase; */
        }

        .projects-description {
            width: 95%;
            max-width: 500px;
        }
    }

    .hidden-boundry {
        grid-column: 3 / 5;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: minmax(0, 1fr) var(--x);
        grid-template-rows: minmax(0, 1fr);

        @media (orientation: landscape) {
            overflow: hidden;
        }
    }

    .project-number-container {
        grid-column: 1 / 5;
        grid-row: 2 / 3;

        pointer-events: none;
        opacity: .2;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media (min-width:768px) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            align-items: center;
        }

        .project-number {
            font-size: clamp(2.5rem, 20vw, 20rem);
            font-family: "Orbitron", serif;
            font-weight: 800;
            color: var(--fg-color);
            scale: 0;
            block-size: max(10vh, 80px);
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width:768px) {
                block-size: auto;
            }
        }
    }

    .projects {
        /* grid-column: 3 / 4;
        grid-row: 2 / 3; */

        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        padding-block-start: 6vh;
        padding-block-start: 6dvh;

        @media (min-width: 500px) {
            padding-block-start: 0;
            align-items: center;
        }

        .project {
            inline-size: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .project-title {
                /* inline-size: min-content; */
                font-size: clamp(2rem, 5vw, 5rem);
                line-height: 1.2;
                color: var(--link-color);
            }

            .project-cateogry {
                inline-size: 100%;
                margin-inline-start: auto;
                max-width: 500px;
                opacity: .5;
                margin-block: -0.5rem;

                @media (max-width: 991px) {
                    padding-left: 6vw;
                }
            }

            .project-desc {
                pointer-events: auto;

                max-width: 500px;
                margin-inline-start: auto;
                text-align: justify;
                hyphens: auto;
                -webkit-hyphens: auto;
                text-wrap: pretty;

                /* @media (orientation: portrait) {
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                } */

                @media (max-width: 991px) {
                    padding-left: 6vw;
                }

                > a {
                    color: var(--link-color);
                    text-decoration: none;

                    &:hover {
                        color: var(--link-color);
                        text-decoration: underline;
                        text-underline-offset: 3px;
                        text-decoration-style: double;
                    }
                }
            }

            .project-link {
                pointer-events: auto;
                cursor: pointer;
                align-self: flex-end;
                display: flex;
                text-transform: uppercase;
                letter-spacing: 4px;
                text-decoration: none;
                color: var(--fg-color);

                &:hover {
                    color: var(--link-color);
                    text-decoration: underline;
                    text-underline-offset: 6px;
                    text-decoration-style: double;
                }
            }
        }
    }

    .project-footer {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        display: flex;
        justify-content: stretch;
        align-items: flex-end;

        .controls {
            pointer-events: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: clamp(1rem, 2vw, 3rem);

            inline-size: 100%;
            block-size: max(10vh, 80px);

            @media (min-width: 768px) {
                justify-content: flex-end;
            }
            @media (orientation: landscape) and (max-height: 640px) {
                justify-content: flex-start;
            }

            .control {
                --stoke-color: var(--accent-color);
                --icon-color: var(--fg-color);

                block-size: 100%;
                aspect-ratio: 1 / 1;
                border: none;
                border-radius: 100%;
                background-color: transparent !important;
                padding: 0;
                cursor: pointer;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &:disabled {
                    pointer-events: none;
                }

                .icon {
                    position: absolute;
                    z-index: 2;
                    transform-origin: center left;
                    scale: 0 1;

                    > svg {
                        rotate: 180deg;
                        width: 24px;
                        height: 24px;
                    }

                    &.icon--back {
                        transform-origin: center right;

                        > svg {
                            rotate: 0deg;
                        }
                    }
                }

                .circle {
                    inline-size: 100%;
                    block-size: 100%;
                    transform: rotate(-90deg);
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: 0;
                    inset: 4px;
                    border-radius: 50%;
                    background-color: var(--accent-color);
                    opacity: 0;

                    transition: opacity .3 ease;
                }

                &:hover {
                    --icon-color: var(--bg-accent-color);

                    &::before {
                        opacity: 1;
                    }

                    .icon {
                        transform: scale(1, 1) !important;
                    }
                }
            }

            &.disabled {
                .control {
                    cursor: not-allowed;

                    /* &:hover {
                        background-color: transparent;
                        --icon-color: var(--fg-color);
                        outline: 1px none;
                    } */
                }
            }
        }
    }
}

.section--contact {
    display: grid;
    grid-template-columns: var(--x) minmax(0, 1fr) var(--x);
    grid-template-rows: 10vh minmax(0, 1fr) minmax(0, 1fr) 10vh;

    .contact-start {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        > h2 {
            font-size: clamp(2.2rem, 8vw, 7rem);
            line-height: 1.2;
        }
    }

    .contact-end {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        .contacts {
            inline-size: 100%;
            padding-block: 2vh;

            @media (min-width: 992px) {
                max-width: 50vw;
            }

            .row {
                display: grid;
                grid-template-columns: 60px 1px minmax(0, 1fr);
                gap: 1rem;
                overflow: hidden;
                align-items: center;
                margin-top: .5rem;
                /* transform-origin: center left; */

                @media (max-width: 768px) {
                    margin-top: 1rem;
                }

                .label {
                    color: var(--fg-accent-color);
                }

                .devider {
                    inline-size: 2px;
                    block-size: 12px;
                    border-radius: 2px;
                    background-color: var(--accent-color);
                }

                .contact-link {
                    overflow: hidden;

                    > a {
                        pointer-events: auto;
                        display: inline-block;
                        color: var(--fg-color) !important;
                        text-decoration: none;

                        &:hover {
                            color: var(--link-color) !important;
                            text-decoration: underline;
                            text-underline-offset: 3px;
                            text-decoration-style: double;
                        }

                        .char {
                            display: inline-block;
                            translate: 20px 0;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;

    inline-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .copyright {
        font-size: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        letter-spacing: 4px;
        color: var(--fg-accent-color);
    }
}

@keyframes Rotate {
    from {
        rotate: 360deg;
    }
    to {
        rotate: 0deg;
    }
}

@keyframes showHide {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}