@counter-style happy-list {
    system: cyclic;
    symbols: "🤙""📫""🤝""🧑‍💻";
    suffix: "  ";
}

@font-face {
    font-family: 'BrushScript';
    src: url('/fonts/Brush\ Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --title-color: #475364;
        --bg-color: #fff;
        --bg-accent-color: #eceef3;
        --fg-color: #38414e;
        --link-color: #FFA500;
        --border-color: #6662;

        --outline-color: var(--link-color);
        --outline-bg: var(--link-color);
        --card-filter: blur(20px) brightness(105%);
        --light-border: var(--link-color);

        --l-1: #FFA500;
        --l-2: #FFC966;
        --l-3: #FFDB99;
        --l-4: #FFEDCC;
        --l-5: #FFF0E0;
        --l-6: #FFF5F2;
        --l-7: #ffffff;

        @media (prefers-color-scheme: dark) {
            --title-color: #ddd;
            --bg-color: #000;
            --bg-accent-color: #262d37;
            --fg-color: #fff;
            --link-color: #8f1c8f;
            --border-color: #9996;
            --card-filter: blur(25px) brightness(150%);
            --outline-link-fg: #fff;

            --l-1: #430D4B;
            --l-2: #350A3B;
            --l-3: #28082D;
            --l-4: #1C061F;
            --l-5: #120415;
            --l-6: #09020A;
            --l-7: #000000;
        }
    }

    html {
        background-color: var(--bg-color);

        scrollbar-width: thin;
        scrollbar-color: var(--link-color) var(--bg-color);

        body {
            background-color: inherit;
            padding-block-start: 25vh;
            padding-inline: 8px;

            @media (min-width: 840px) {
                padding-block-end: 20px;
                padding-inline: clamp(1.5rem, 6vw, 6rem);
            }

            .page-loading,
            .animation,
            .open-shortcuts,
            .playPause,
            .cursor {
                display: none;
            }

            .scroll-trigger {
                block-size: 0;
            }

            .logo {
                translate: 0 0;
            }

            .lights {
                translate: 0 -50%;

                .light {
                    scale: 1;
                }
            }

            .page-main {
                pointer-events: auto;

                .page {
                    position: relative;
                    backdrop-filter: var(--card-filter);
                    border: 2px solid var(--border-color);
                    border-radius: clamp(1rem, 2vw, 2rem);
                    /* background-color: var(--bg-color); */

                    &:not(.page--contact) {
                        margin-bottom: clamp(1.5rem, 6vw, 6rem);
                    }
                }
            }

            .page-footer {
                position: relative;
                z-index: 6;
            }
        }
    }
}