:root {
    color-scheme: light dark;

    --bg-color: #e2ebf0;
    --bg-accent-color: #cfd9df;

    --fg-color: #000;
    --fg-accent-color: #333;
    --fg-light: #EEE;

    --accent-color: #333;
    --link-color: blue;

    @media (prefers-color-scheme: dark) {
        --bg-color: #29323c;
        --bg-accent-color: #384553;

        --fg-color: #FFF;
        --fg-accent-color: #CCC;

        --accent-color: #DDD;
        --link-color: skyblue;
    }
}
