:root {
    color-scheme: light dark;

    --title-color: #39404b;
    --bg-color: #ffffff;

    --fg-color: #272c34;
    --fg-accent-color: #677488;

    --accent-color: #272c34;
    --link-color: #6c5ce7;
    --play:#0002;
    --glass: none;
    --modal-bg: #FFF7;
    --modal-backdrop: #FFC966;
    --modal-filter: blur(20px) brightness(120%);

    --outline-color: var(--link-color);
    --outline-bg: var(--link-color);
    --outline-link-fg: #fff;

    --c-1: #FFA500;
    --c-2: #FFC966;
    --c-3: #FFDB99;
    --c-4: #FFEDCC;
    --c-5: #FFF0E0;
    --c-6: #FFF5F2;
    --c-7: #ffffff;

    /* --l-0: #cfe5f6; */
    --l-0: #f8fbfd;
    --l-1: #cde1f0;
    --l-2: #dcebf5;
    --l-3: #e3eff7;
    --l-4: #eaf3f9;
    --l-5: #f1f7fb;
    --l-6: #f8fbfd;
    --l-7: #ffffff;

    --cookie-bg: var(--bg-color);
    --cookie-fg: var(--fg-color);
    --light-border: #f8fbfd;

    /* --l-0: #b3b9c3;
    --l-1: #c6cad2;
    --l-2: #d0d3da;
    --l-3: #d9dce1;
    --l-4: #e2e5e8;
    --l-5: #eceef0;
    --l-6: #f6f6f8;
    --l-7: #ffffff; */

    body[data-schema="light"] {
        --c-1: #040406;
        --c-2: #0b0c0d;
        --c-3: #101215;
        --c-4: #16181c;
        --c-5: #1c1f24;
        --c-6: #21262c;
        --c-7: #272c34;
        --modal-backdrop: #cde1f0;
    }

    body[data-schema="dark"] {
        --bg-color: #000000;
        --fg-color: #fafafa;
        --fg-accent-color: #cccccc;

        --accent-color: #cccccc;
        --play:#fff3;
        --glass: none;
        &.winter {
            --glass: blur(1px);
        }

        --modal-bg: #9997;
        --modal-backdrop: #16181c;
        --modal-filter: blur(15px) brightness(150%);

        --c-1: #040406;
        --c-2: #0b0c0d;
        --c-3: #101215;
        --c-4: #16181c;
        --c-5: #1c1f24;
        --c-6: #21262c;
        --c-7: #272c34;
    }

    @media (prefers-color-scheme: dark) {
        --title-color: #edeef0;
        --bg-color: #000000;
        --fg-color: #ffffff;
        --fg-accent-color: #cccccc;

        --accent-color: #fafafa;
    --link-color: #a29bfe;
        --play:#fff5;
        --glass: none;
        --modal-bg: #5557;
        --modal-backdrop: #1E1E3B;
        --modal-filter: blur(25px) brightness(150%);

        body.winter {
            --glass: blur(1px);
        }

        --outline-link-fg: #000;

        /* --c-1: #430D4B; */
        --c-1: #000000;
        --c-2: #350A3B;
        --c-3: #28082D;
        --c-4: #1C061F;
        --c-5: #120415;
        --c-6: #09020A;
        --c-7: #000000;

        --l-0: #000000;
        --l-1: #232345;
        --l-2: #1E1D3B;
        --l-3: #191731;
        --l-4: #141227;
        --l-5: #0F0D1E;
        --l-6: #0A0814;
        --l-7: #05030A;

        /* --cookie-bg: var(--l-1); */
        --light-border: #5e658e;

        body[data-schema="light"] {
            --modal-backdrop: #1c1f24;

            --c-1: #000000;
            --c-2: #1C1F24;
            --c-3: #181B1F;
            --c-4: #13161A;
            --c-5: #0F1114;
            --c-6: #0A0B0D;
            --c-7: #050507;

        }

        body[data-schema="dark"] {
            --bg-color: #000;
            --fg-color: #fafafa;
            --play:#fff5;
            --modal-backdrop: #171a1e;
            /* --glass: blur(3px); */

            /* --bg-color: #ffffff;
            --fg-color: #272c34;
            --fg-accent-color: #677488;

            --accent-color: #272c34;
            --play:#0002; */

            --c-1: #000000;
            --c-2: #1C1F24;
            --c-3: #181B1F;
            --c-4: #13161A;
            --c-5: #0F1114;
            --c-6: #0A0B0D;
            --c-7: #050507;
        }
    }
}
