:root {
    --max-width: 1400px;

    --header-height: 60px;
    --section-height: calc(100vh - var(--header-height));

    --x: clamp(1.5rem, 6vw, 6rem);
    --min-size: 2px;
}

html,
body {
    min-inline-size: 100%;
    min-block-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

body::after {
    content: "";
    display: block;
    position: fixed;
    z-index: 0;
    inset: 0;
    background-image: linear-gradient(160deg, var(--bg-color), var(--bg-accent-color));

}

.background-blur {
    background-color: var(--bg-header);
    transform: translateZ(10px);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);

    @media (min-width: 992px) {
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
    }
}

.main {
    inline-size: 100%;

    .section {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        inline-size: 100%;
        block-size: 100vh;
        overflow: hidden;
        pointer-events: none;
    }

    .scroll-trigger {
        inline-size: 100%;
        block-size: 1200vh;
    }

    .mouse-container {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 3vh;
        inline-size: 100%;
        padding: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;

        &.goto-top {
            bottom: clamp(3rem, 6vw, 4rem);
        }

        .mouse {
            opacity: 0;
            translate: 0 -100px;

            .arrow-down {
                inline-size: 10px;
                block-size: 10px;
                border-radius: 2px;
                border-bottom: 2px solid var(--accent-color);
                border-right: 2px solid var(--accent-color);
                rotate: 45deg;
            }
        }
    }
}
