:root {
    --max-width: 1400px;

    --header-height: 60px;
    --base-height: calc(100vh - var(--header-height));
    --section-height: calc(100dvh - var(--header-height), var(--base-height));

    --x: clamp(1.5rem, 6vw, 6rem);
    --min-size: 2px;

    --80vh: 80dvh;

    @media (min-width: 1800px) {
        --x: clamp(1.5rem, 12vw, 12rem);
    }
}

html,
body {
    inline-size: 100%;
    min-block-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);

    h1,h2,h3 {
        color: var(--title-color);
    }

    /* transition: background-color .5s ease; */

    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */

    /* &.spring,
    &.autumn {
        .p5Canvas {
            z-index: 3;
        }
    } */
}

.background {
    position: fixed;
    z-index: 1;
    inset: 0;
    /* background-color: var(--bg-color); */

    display: flex;
    justify-content: center;
    align-items: center;
    --w: 14vw;
    --h: 14vh;
    --color: var(--c-1);

    @media (prefers-reduced-motion: reduce) {
        display: none;
    }

    .bg {
        /* width: calc((var(--w) + var(--h)) * 0.5);
        height: calc((var(--w) + var(--h)) * 0.5); */
        width: max(var(--w), var(--h));
        height: max(var(--w), var(--h));
        border-radius: 100%;
        position: absolute;
        background-color: var(--color);
        scale: 0;

        &.bg--two {
            --w: 22vw;
            --h: 22vh;
            --color: var(--c-2);
        }
        &.bg--three {
            --w: 34vw;
            --h: 34vh;
            --color: var(--c-3);
        }
        &.bg--four {
            --w: 50vw;
            --h: 50vh;
            --color: var(--c-4);
        }
        &.bg--five {
            --w: 74vw;
            --h: 74vh;
            --color: var(--c-5);
        }
        &.bg--six {
            --w: 100vw;
            --h: 100vh;
            --color: var(--c-6);
        }
        &.bg--seven {
            --w: 200vw;
            --h: 200vh;
            --color: var(--c-7);
        }
    }
}

.lights {
    position: fixed;
    z-index: 1;
    inset: 0;
    translate: 0 -75%;
    /* opacity: 0; */

    display: flex;
    justify-content: center;
    align-items: center;
    --h: 20vh;
    --color: var(--l-1);

    @media (prefers-reduced-motion: reduce) {
        display: none;
    }

    .light {
        width: var(--h);
        height: var(--h);
        border-radius: 100%;
        position: absolute;
        background-color: var(--color);
        scale: 0;

        will-change: scale;

        /* @media (orientation:landscape) {
            width: calc((var(--w) + var(--h)) * 0.5);
            height: calc((var(--w) + var(--h)) * 0.5);
        } */

        &.light--two {
            --h: 32vh;
            --color: var(--l-2);
        }
        &.light--three {
            --h: 50vh;
            --color: var(--l-3);
        }
        &.light--four {
            --h: 75vh;
            --color: var(--l-4);
        }
        &.light--five {
            --h: 110vh;
            --color: var(--l-5);
        }
        &.light--six {
            --h: 160vh;
            --color: var(--l-6);
        }
        &.light--seven {
            --h: 250vh;
            --color: var(--l-7);
        }

        @media (min-width: 992px) {
            --h: 24vh;

            &.light--two {
                --h: 36vh;
            }
            &.light--three {
                --h: 58vh;
            }
            &.light--four {
                --h: 86vh;
            }
            &.light--five {
                --h: 125vh;
            }
            &.light--six {
                --h: 180vh;
            }
            &.light--seven {
                --h: 260vh;
            }
        }

    }
}

/* body::after {
    content: "";
    display: block;
    position: fixed;
    z-index: 0;
    inset: 0;
    background-image: var(--bg-image);
    background-color: var(--bg-color);
    background-position: top;
} */

.background-blur {
    background-color: var(--bg-header);
    transform: translateZ(10px);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);

    @media (min-width: 992px) {
        backdrop-filter: saturate(180%) blur(10px);
        -webkit-backdrop-filter: saturate(180%) blur(10px);
    }
}

.cursor {
    --size: 20px;
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    translate: 50vw -25vh;
    pointer-events: none;

    /* mix-blend-mode: darken; */

    &::before {
        content: '';
        display: block;
        width: var(--size);
        height: var(--size);
        border-radius: var(--size);

        position: absolute;
        transition: all .2s ease;

        backdrop-filter: invert(100%);
        -webkit-backdrop-filter: invert(100%);
    }
    &::after {
        content: attr(data-text);
        position: absolute;
        z-index: 1;
        text-transform: capitalize;
        font-size: 14px;
        color: var(--bg-color);
    }

    &.active::before {
        --size: 60px;
        /* backdrop-filter: invert(100%) blur(2px);
        -webkit-backdrop-filter: invert(100%) blur(2px); */
        background-color: var(--fg-color);
    }

    &.animator::before {
        animation: pulse 1.2s infinite;
    }

    &.none::before {
        --size: 0;
    }
    &.hover::before {
        --size: 0;
        /* backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background-color: transparent; */
    }
}

.cursor--link {
    & * {
        pointer-events: none;
    }
}

.loading-layer {
    position: fixed;
    z-index: 999;
    inset: 0;
    cursor: progress;
}

.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    position: absolute;
    white-space: nowrap;
}

.main {
    inline-size: 100%;
    position: relative;
    z-index: 1;

    .playPause {
        --size: 42px;

        position: fixed;
        z-index: 9;
        top: 18px;
        right: 18px;
        width: var(--size);
        height: var(--size);
        background: transparent;
        color: var(--play);
        border: 2px solid var(--play);
        border-radius: 50%;
        opacity: 0;
        scale: 0;
        padding: 10px;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
            cursor: not-allowed;
        }

        &:hover {
            color: var(--link-color);
            border-color: var(--link-color);
        }

        .play{
            translate: 1px 0;
        }
        .pause {
            display: none;
        }

        &.scrolling {
            .pause {
                display: block;
            }
            .play {
                display: none;
            }
        }

        @media (orientation: landscape) and (min-height: 640px) {
            --size: 60px;
            top: initial;
            right: initial;
            left: 30px;
            bottom: 30px;
        }
    }

    .p5Canvas {
        position: fixed;
        z-index: 0;
        inset: 0;
        pointer-events: none;
        filter: var(--glass);
    }

    .glass {
        position: fixed;
        z-index: 1;
        inset: 0;
    }

    .section {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        inline-size: 100%;
        max-inline-size: 100vw;
        block-size: 100vh;
        block-size: 100dvh;
        overflow: hidden;
        pointer-events: none;
    }

    .scroll-trigger {
        inline-size: 100%;
        block-size: 1200vh;
    }

    .mouse-container {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 4vh;
        inline-size: 100%;
        padding: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;

        .mouse {
            opacity: 0;
            translate: 0 -100px;
            pointer-events: auto;
            padding: 5px;

            .arrow-down {
                inline-size: 10px;
                block-size: 10px;
                border-radius: 2px;
                border-bottom: 2px solid var(--accent-color);
                border-right: 2px solid var(--accent-color);
                rotate: 45deg;
            }
        }
    }
}

@keyframes InitBg {
    0%, 100% {
        background-image: var(--bg-image);
    }
    50% {
        background-image: var(--bg-image-2);
    }
}

@keyframes CursorActive {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 2;
    }
}

@keyframes pulse {
    0%, 100% {
      scale: 1;
    }
    50% {
      scale: 3;
    }
  }