.animation {
    position: fixed;
    z-index: 6;
    inset: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    .animator-container {
        position: absolute;
        inset: 0;
        /* translate: 0 -25vh; */

        display: flex;
        justify-content: center;
        align-items: center;
        --tx: 0;
        --ty: 0;
        translate: var(--tx) var(--ty);

        .animator {
            --width: var(--min-size);
            --height: var(--min-size);
            position: absolute;
            width: var(--width);
            height: var(--height);
            background-color: var(--fg-color);
            border-radius: var(--min-size);

            will-change: width, height;

            &.animator--one {
                --width: 100vw;
            }
        }
    }

    .loading-bouncer {
        position: absolute;
        width: var(--min-size);
        height: 10vh;
        background-color: var(--fg-color);
        border-radius: var(--min-size);
        animation: loadingBouncer 1.5s ease infinite;
    }
}

@keyframes loadingBouncer {
    0%, 100% {
        translate: 0 -3vh;
        height: 6vh;
    }
    50% {
        translate: 0 -25vh;
        height: 10vh;
    }
}
