html, body {
    inline-size: 100%;
    min-block-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

body {
    --min-size: 2px;

    h1,h2,h3 {
        color: var(--title-color);
    }

    .page-header {
        position: fixed;
        z-index: -2;
        opacity: 0;
    }

    .logo {
        --size: 90px;
        --font-size: .85rem;
        position: fixed;
        z-index: 9;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* overflow: hidden; */

        pointer-events: none;
        translate: 0 -100px;

        @media (min-width: 992px) {
            --size: 110px;
            --font-size: .9rem;
        }

        .logo-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: auto;

            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 0;
                inline-size: calc(var(--size) + 4px);
                block-size: calc(var(--size) + 4px);
                background-color: var(--l-0);
                border-radius: 50%;

                transition: background-color .2s ease;

                box-shadow: rgba(50, 50, 93, 0.1) 0px 0px 12px -2px, rgba(0, 0, 0, 0.1) 0px 0px 7px -3px;
            }

            /* &:hover {
                &::before {
                    background-color: var(--fg-color);
                }
                > div {
                    color: var(--bg-color);
                }
            } */

            > div {
                pointer-events: none;
                position: absolute;
                z-index: 1;
                text-transform: uppercase;
                display: inline-block;
                font-size: var(--font-size);
                font-weight: 600;
                height: var(--size);
                transform-origin: center;
                opacity: .6;
                /* font-family: 'Times New Roman', Times, serif; */

                &:nth-child(1) {
                    rotate: -80deg;
                }
                &:nth-child(2) {
                    rotate: -50deg;
                }
                &:nth-child(3) {
                    rotate: -20deg;
                }
                &:nth-child(4) {
                    rotate: 20deg;
                }
                &:nth-child(5) {
                    rotate: 50deg;
                }
                &:nth-child(6) {
                    rotate: 80deg;
                }
                &:nth-child(7) {
                    rotate: 120deg;
                }
                &:nth-child(8) {
                    rotate: 150deg;
                }
                &:nth-child(9) {
                    rotate: 180deg;
                }
                &:nth-child(10) {
                    rotate: 210deg;
                }
                &:nth-child(11) {
                    rotate: 240deg;
                }
            }
        }
    }

    .background {
        position: fixed;
        z-index: 1;
        inset: 0;
        /* background-color: var(--bg-color); */

        display: flex;
        justify-content: center;
        align-items: center;
        --w: 14vw;
        --h: 14vh;
        --color: var(--c-1);

        background-image: url(https://i.ibb.co/nrmkm7d/five-bells-washed-out-logo.png);
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: center;

        @media (prefers-reduced-motion: reduce) {
            display: none;
        }

        .bg {
            /* width: calc((var(--w) + var(--h)) * 0.5);
            height: calc((var(--w) + var(--h)) * 0.5); */
            width: max(var(--w), var(--h));
            height: max(var(--w), var(--h));
            border-radius: 100%;
            position: absolute;
            background-color: var(--color);
            scale: 0;
            /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

            &.bg--two {
                --w: 22vw;
                --h: 22vh;
                --color: var(--c-2);
            }
            &.bg--three {
                --w: 34vw;
                --h: 34vh;
                --color: var(--c-3);
            }
            &.bg--four {
                --w: 50vw;
                --h: 50vh;
                --color: var(--c-4);
            }
            &.bg--five {
                --w: 74vw;
                --h: 74vh;
                --color: var(--c-5);
            }
            &.bg--six {
                --w: 100vw;
                --h: 100vh;
                --color: var(--c-6);
            }
            &.bg--seven {
                --w: 200vw;
                --h: 200vh;
                --color: var(--c-7);
            }
        }
    }

    .lights {
        position: fixed;
        z-index: 1;
        inset: 0;
        translate: 0 -75%;
        /* opacity: 0; */

        display: flex;
        justify-content: center;
        align-items: center;
        --h: 20vh;
        --color: var(--l-1);

        .light {
            width: var(--h);
            height: var(--h);
            border-radius: 100%;
            position: absolute;
            background-color: var(--color);
            scale: 0;

            will-change: scale;

            /* @media (orientation:landscape) {
                width: calc((var(--w) + var(--h)) * 0.5);
                height: calc((var(--w) + var(--h)) * 0.5);
            } */

            &.light--two {
                --h: 32vh;
                --color: var(--l-2);
            }
            &.light--three {
                --h: 50vh;
                --color: var(--l-3);
            }
            &.light--four {
                --h: 75vh;
                --color: var(--l-4);
            }
            &.light--five {
                --h: 110vh;
                --color: var(--l-5);
            }
            &.light--six {
                --h: 160vh;
                --color: var(--l-6);
            }
            &.light--seven {
                --h: 250vh;
                --color: var(--l-7);
            }

            @media (min-width: 992px) {
                --h: 24vh;

                &.light--two {
                    --h: 36vh;
                }
                &.light--three {
                    --h: 58vh;
                }
                &.light--four {
                    --h: 86vh;
                }
                &.light--five {
                    --h: 125vh;
                }
                &.light--six {
                    --h: 180vh;
                }
                &.light--seven {
                    --h: 260vh;
                }
            }

        }
    }

    .page-main {
        inline-size: 100%;

        .open-shortcuts {
            position: fixed;
            z-index: 5;
            left: 18px;
            top: 18px;
            background: none;
            border: 2px solid var(--play);
            border-radius: 5px;
            backdrop-filter: blur(10px);
            color: var(--fg-color);

            width: 50px;
            height: 50px;
            display: grid;
            place-content: center;


            opacity: 0;
            pointer-events: none;

            @media (hover: hover) {
                opacity: 1;
                pointer-events: auto;
                cursor: pointer;
            }

            &:focus {
                opacity: 1;
                outline: 3px solid var(--outline-color);
                outline-offset: 5px;
            }

            @media (orientation: landscape) and (min-height: 640px) {
                top: 30px;
                left: 30px;
            }
        }

        .playPause {
            --size: 42px;

            position: fixed;
            z-index: 9;
            top: 18px;
            right: 18px;
            width: var(--size);
            height: var(--size);
            background: transparent;
            color: var(--play);
            border: 2px solid var(--play);
            border-radius: 50%;
            opacity: 0;
            scale: 0;
            padding: 10px;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            &.disabled {
                cursor: not-allowed;
            }

            &:hover {
                color: var(--link-color);
                border-color: var(--link-color);
            }

            &:focus {
                outline: 3px solid var(--outline-color);
                outline-offset: 5px;
            }

            .play{
                translate: 1px 0;
            }
            .pause {
                display: none;
            }

            &.scrolling {
                .pause {
                    display: block;
                }
                .play {
                    display: none;
                }
            }

            @media (orientation: landscape) and (min-height: 640px) {
                --size: 60px;
                top: initial;
                right: initial;
                left: 30px;
                bottom: 30px;
            }
        }

        .page {
            display: grid;
            grid-template-columns:
                [edge-start]
                clamp(1.5rem, 6vw, 6rem)
                [body-start left-start]
                1fr
                [left-end right-start]
                1fr
                [body-end right-end]
                clamp(1.5rem, 6vw, 6rem)
                [edge-end]
            ;
            grid-template-rows:
                [edge-start]
                clamp(1.5rem, 6vw, 6rem)
                [body-start]
                1fr
                [body-end]
                clamp(1.5rem, 6vw, 6rem)
                [edge-end]
            ;

            position: fixed;
            z-index: 3;
            inset: 0;
            pointer-events: none;
        }

        .scroll-trigger {
            inline-size: 100%;
            block-size: 1200vh;
        }

        .p5Canvas {
            position: fixed;
            z-index: 2;
            inset: 0;
            pointer-events: none;
            filter: var(--glass);
        }

    }

    .page-loading {
        position: fixed;
        z-index: 5;
        inset: 0;
        background-color: var(--bg-color);
        pointer-events: none;
    }

    .animation {
        position: fixed;
        z-index: 6;
        inset: 0;
        pointer-events: none;

        display: flex;
        justify-content: center;
        align-items: center;

        .animator-container {
            position: absolute;
            inset: 0;
            /* translate: 0 -25vh; */

            display: flex;
            justify-content: center;
            align-items: center;
            --tx: 0;
            --ty: 0;
            translate: var(--tx) var(--ty);

            .animator {
                --width: var(--min-size);
                --height: var(--min-size);
                position: absolute;
                width: var(--width);
                height: var(--height);
                background-color: var(--accent-color);
                border-radius: var(--min-size);
                /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

                /* backdrop-filter: invert(100%);
                -webkit-backdrop-filter: invert(100%); */

                will-change: width, height;

                /* &.animator--three {
                    background-color: cornflowerblue;
                }
                &.animator--four {
                    background-color: hotpink;
                } */
            }
        }
    }

    .page-footer {
        position: fixed;
        z-index: 4;
        left: 0;
        bottom: 0;

        inline-size: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .copyright {
            font-size: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            letter-spacing: 4px;
            color: var(--fg-accent-color);
        }
    }

    .visually-hidden:not(:focus):not(:active) {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        position: absolute;
        white-space: nowrap;
    }

    .toast-container {
        position: fixed;
        z-index: 9;

        left: 0; right: 0;
        bottom: 0;
        padding: 5vh;

        display: flex;
        justify-content: center;
        align-items: center;

        .toast {
            padding: 15px 20px;
            border: 1px solid #bbb;
            border-radius: 10px;
            text-align: center;
            vertical-align: center;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            color: var(--fg-color);
            backdrop-filter: blur(10px);

            opacity: 0;
            scale: .8;
            translate: 0 100%;
            transition: all .3s ease;

            &.show {
                opacity: 1;
                scale: 1;
                translate: 0 0;
            }

            .key {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-inline: .5em;
                width: 40px;
                height: 40px;
                border: 1px solid #bbb;
                border-radius: 5px;
            }
        }
    }

    .shortcuts-modal {
        & form {
            display: flex;
            justify-content: flex-end;

            & button {
                width: 36px;
                height: 36px;
                background: none;
                border: none;
                border-radius: 50px;
                padding: 0;
                color: var(--fg-color);
                cursor: pointer;

                &:focus {
                    outline: 2px solid var(--outline-color);
                    outline-offset: 5px;
                }
            }
        }

        .shortcuts-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            padding: 20px;
            gap: 5px;

            .shortcuts-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                color: var(--fg-color);

                .key {
                    flex-shrink: 0;
                    display: inline-flex;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #bbb;
                    border-radius: 5px;
                    display: grid;
                    place-content: center;
                    background-color: var(--bg-color);
                    color: var(--fg-color);

                    &.key--auto {
                        width: initial;
                        padding-inline: 10px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@keyframes popupIn {
    from {
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes CursorActive {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 2;
    }
}
